<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th>Employee Id</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="employee : ${employeeList}">
                                    <td th:text="${employee.id}"></td>
                                    <td th:text="${employee.firstName}"></td>
                                    <td th:text="${employee.lastName}"></td>
                                </tr>
                            </tbody>
                        </table>
</body>
</html>